################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rover/.vs/Rover.slnx
/Rover/Rover/obj
/Rover/Rover.Tests/obj
/Rover/Rover.Tests/bin/Debug/net8.0
